.activity-box {
    display: block;
    z-index: 9999; /* on top of everything else */
    width: 250px;
    margin-left: -125px; /* horizontally centered */
    left: 50%;
    top: 10px; /* displayed on the top of the page, just like Gmail's yellow info-box */
    height: 60px;
    padding: 10px;
    background-color: #E6E6E6;
    border-radius: 4px;
	position:absolute; 
	top:100%;
}

/* styles for the activity text */
.activity-box span {
    display: block;
    position: relative;
    margin-left: 40px;
    margin-top: 10px;
    font-family: arial;
    font-size: 15px;
}

/* animating a static image */
.activity-box img {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    /* Below is the key for the rotating animation */
    -webkit-animation: spin 1s infinite linear;
    -moz-animation: spin 1s infinite linear;
    -o-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

/* keyframe animation defined for various browsers */
@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}

@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}

@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}

body {
    font-family: 'Gudea', sans-serif;
    font-size: 15px;
}

ul {
   list-style-type: none;
   padding-left:0px;
}

ul li {
  text-align: left;
}

.letter {
	font-size:22px;
	color: white;
}

.separator {
    background-color: gray;
    padding: 5px;
}

.divFilter {	
	margin-left: 100px;
	margin-bottom: 20px;
    display:none;
}

.inputFilter {
	min-width: 300px;
}

.searchPage .textbox {
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}

.searchPage .textbox input[type="text"]:focus,
.searchPage .textbox input[type="text"].focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
}

.searchPage input[type="text"] {
	margin-top:3px;
	box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;        
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 25px;
}

.liItem {
    margin-left: 20px;
}

.navbar-inverse {
    background-color: #008ED8 !important;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand {
    color: #000 !important;
}

.nav>li>a {
    color:white !important;
}

.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.goTop {
    float: right;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image:url('../img/gotop.png');
}

.imgSpace {
    margin-right: 3px;
    padding-top: 0px;
    width: 12px;
}

.imgSpaceSmall {    
    margin-right: 3px;
    padding-top: 0px;
    width: 12px;
}

.navbar-inverse {
    border-color: #66c9ff !important;
    line-height: 2px;
}

.footer .container {
    min-height:30px;
    text-align:center;
    border-top-color:black;
    border-top-width:1px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#footer {
    background: #337AB7;
    height:30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    box-shadow: 0 0 15px #00214B
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.load {
    position: absolute;
}

.zoom_categories input {
    margin-right: 3px;
}

.under {
    text-decoration:underline;
}

a#backToTop {
    width:40px;
    z-index: 1000;
    height:40px;
    opacity:0.5;
    position:fixed;
    bottom:5px;
    left:90%;
    display:none;
    text-indent:-10000px;
    outline:none !important;
    background-image: url('../img/top.png');
    background-repeat: no-repeat;
}

/*http://webrevisions.com/demo/expandable_tree_view/*/
.tree ul {
    list-style: none outside none;
}

.tree li a {
    line-height: 25px;
}

.tree > ul > li > a {
    color: #3B4C56;
    display: block;
    font-weight: normal;
    position: relative;
    text-decoration: none;
}

.tree ul li ul {
    border-left: 1px solid #D9DADB;
    display: none;
    margin: 0 0 0 10px;
    overflow: hidden;
    padding: 0 0 0 20px;
}

.tree ul li ul li {
    position: relative;
}

.tree ul li ul li:before {
    border-bottom: 1px dashed #E2E2E3;
    content: "";
    left: -20px;
    position: absolute;
    top: 12px;
    width: 15px;
}

a {
    cursor:pointer;
}

.upper {
    text-transform: capitalize;
}

.clicked {
    font-weight: bold;
}

.topSpace {
    padding-top: 20px;
}

table tbody tr td.col1 {
    width: 190px;
}

footer {
    margin: 50px;
}

.proc .space {
    margin-bottom: 30px !important;
}

.divNoSelected {
    background-color: rgba(169, 208, 245, 0);
    font-weight: normal;
    width: auto;
}

.divSelected {
    background-color: rgba(169, 208, 245, 0.3);
    font-weight: bold;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #286090;
    padding: 2px;
    width: auto;
}

.minFont {
    font-size: 12px;
}

.orange h1,h2,h3 {
	color:#FF8000;
}

.orange h1 {
	font-weight:bold;
}

.black h1,h2,h3 {
	color:#000000;
}

.black h1 {
	font-weight:bold;
}

.alturaminima {
	min-height: 500px;
}

.negrita {
    font-weight:bold;
}

/* #arbol > div > ul > li > div > div > ul > li > div > div > ul > li > div > div > ul > li > div > span > span > span {
    content: url('../img/bullet3.png');
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

body > div > div > div.col-md-6.lg-6.titulo > div > ul > li > ul.negrita.ng-scope > li > label:nth-child > div{
    margin-top: -1px;
    vertical-align: middle;
} */

/* #arbolito > li > table > tr > td > a > img {
    content: url('../img/top.png');
} */

/* .cerrado {
    content: url('../img/expand.png');
} */

.abierto {
    content: url('../img/toggle.png');
}

#arbolito > li:nth-child > table:nth-child > tbody > tr > td:nth-child > a:visited > img .cerrar {
    content: url('../img/toggle.png');
}

#arbolito > tbody > tr:nth-child > td > ul:nth-child > li > table:nth-child > tbody > tr > td:nth-child > a > img {
    content: url('../img/bullet.png');
}